<h1>Edit Metric</h1>

<%= form_with(model: @metric, local: true, url: update_metric_path ) do |form| %>
    <%= render partial: 'shared/metric_form', locals: {form: form}%>
<% end %>

<%= link_to 'Back', show_user_path(@metric.user), class: 'btn btn-secondary mt-4' %>
