<h1>Statistics</h1>
<div>
    <%= link_to 'Cold water consumption', show_cold_statistics_path, class: 'btn btn-primary' %>
    <%= link_to 'Hot water consumption', show_hot_statistics_path, class: 'btn btn-primary' %>
</div>

<%= link_to 'Back', index_path %>