<p id="notice"><%= notice %></p>

<h1>Metrics</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Cold</th>
      <th>Hot</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= "#{metric.created_at.month}-#{metric.created_at.year}" %></td>
        <td><%= metric.cold %></td>
        <td><%= metric.hot %></td>
      </tr>
    <% end %>
  </tbody>
</table>